*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    border-radius: 3px;
    float: right;
    color: white;
    margin: 10px 5px;
}

ul {
    margin-right: 10px;
}

header{
    position: sticky;
    top: 0;
    background-color: azure;
}

.hero {
    background-image: url("https://images.unsplash.com/photo-1564349683136-77e08dba1ef7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title{
    font-size: 50px;
    text-align: center;
    color: white;
}

.title-container {
    margin: auto;
    width: 300px;
    padding-top: 500px;
}

.black-background {
    padding: 30px 50px;   
    background-color: black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row{
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;
}

.column-half {
    width: 50%;
    float: left;
    height: 250px;
    padding: 50px;
    background-color: aqua;
    border: 1px solid black;
}

.column-third {
    width: 33.33%;
    float: left;
    height: 333px;
    padding: 50px;
    background-color: green;
    border: 1px solid black;
}

.column-fourth {
    width: 25%;
    float: left;
    height: 400px;
    padding: 25px;
    background-color: gray;
    color: blue;
    border: 2px dashed brown;
}


